<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSmErguM1LydWthzIZXkJPkf5A8hxvS0A</string>
	<key>GCM_SENDER_ID</key>
	<string>687710232364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alejandro.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-58b50</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-58b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687710232364:ios:2413f4f8a6b93c8e961689</string>
</dict>
</plist>